/* flex column  or grid */

/* ensure there is spacing them */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.html {
    border: 10px solid red;
}

.calcuator-display{
    display: grid;
    border: 10px solid blue;
}

.calcuator-key {
    display: grid;
    border: 10px solid green;
}