/* flex column  or grid */

/* ensure there is spacing them */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    grid-gap: 10px;
    background-color: white;
    border: 10px solid red;
    display: grid;
    grid-template-columns: 1fr,1fr,1fr,1fr;
}

.calcuator-display {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr,1fr,1fr,1fr;
    height: 60px;
    border: 10px solid blue;

}

.calculator-key {
    display: grid;
    grid-template-columns: 1fr,1fr,1fr,1fr;
    border: 10px solid green;
    font-size:100%;
    background-color: purple;
    font-size: medium;
    color: black;
    font-family: 'Courier New', Courier, monospace;
}