/* flex column  or grid */

/* ensure there is spacing them */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    background-color: white;
    border-radius: 1%;
    border: 10px solid black;
    display: grid;
    width: 420px;
    top: 50%;
    bottom:50%;
}

.calcuator-display {
    font-size: 2rem;
    display: grid;
    height: 60px;
    background-color: lightblue;
    padding-right: 30px;
    padding-left: 30px;

}

.calculator-key {
    display: grid;
    width: 400px;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border: 5px solid black;
    background-color: black;
    font-size: 50%;
    font-style: bold;
    color: black;
    font-family:Georgia, 'Times New Roman', Times, serif
}

button {
    justify-content: center;
    display: grid;
    border-radius: 50%;
    height: 101px;
    width: 100px;
    grid-template-columns: 100%;
    align-items: center;
    border: 5px grey;
    font-size: 2rem;
    color: black;
    font-family: 'Courier New', Courier, monospace;
}